@font-face{
font-family: "OpenSansBold";
src : url("../fonts/Open_Sans/OpenSans-Bold.ttf");
}@font-face{
font-family: "OpenSansBoldItalic";
src : url("../fonts/Open_Sans/OpenSans-Bolditalic.ttf");
}@font-face{
font-family: "OpenSansExtraBold";
src : url("../fonts/Open_Sans/OpenSans-ExtraBold.ttf");
}@font-face{
font-family: "OpenSansExtraBoldItalic";
src : url("../fonts/Open_Sans/OpenSans-ExtraBoldItalic.ttf");
}@font-face{
font-family: "OpenSansItalic";
src : url("../fonts/Open_Sans/OpenSans-Italic.ttf");
}@font-face{
font-family: "OpenSansLight";
src : url("../fonts/Open_Sans/OpenSans-Light.ttf");
}@font-face{
font-family: "OpenSansLightItalic";
src : url("../fonts/Open_Sans/OpenSans-LightItalic.ttf");
}@font-face{
font-family: "OpenSansRegular";
src : url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}@font-face{
font-family: "OpenSansSemiBold";
src : url("../fonts/Open_Sans/OpenSans-Semibold.ttf");
}@font-face{
font-family: "OpenSansSemiBoldItalic";
src : url("../fonts/Open_Sans/OpenSans-SemiboldItalic.ttf");
}